body{
    font-family: "Noto Sans Lao";
}
.nav-container{
    display: flex;
    
}

.error {
            display: block;
            padding-top: 5px;
            font-size: 14px;
            color: red;
        }
thead {
    font-size: 18px;
}
