input[type=radio] {
    display: none;
  }
  
  .container img {
    width: 100%;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  input[type=radio]:checked+label>img {
    transform: scale(2.5);
    cursor: zoom-out;
  }